html,body {
	height: 100%;
	overflow: hidden;
	font-family: Arial, sans-serif;
}

/* 全局的背景*/
body::after {
	content: "";
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	background:url(lku.jpg) center center no-repeat;
	background-size: cover;
	z-index: -1;
	filter: blur(20px);
}

#page-music {
	/*max-width: 500px;*/
	/*min-width: 200px;*/
	width: 100%
	position: relative;
	height: 60%;
	min-height: 8.125rem;
	margin: 0 auto;
	padding-top: 20px;
	border: 1px red solid;
}

#page-music #j-wrapper {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
}

#page-music .middle {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

#page-music .j-bg{
	width: 7.8125rem;
	height: 7.8125rem;
	border: 0.1875rem solid rgba(245, 245, 245, 0.2);
	border-radius: 50%;
	background-image: url(bg.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
}

#page-music .j-img {
	width: 5.625rem;
	height: 5.625rem;
	border-radius: 50%;
	overflow: hidden;
}
#page-music .j-img img {
	width: 100%;
	height: 100%;
	display: block;
}

/* footer start*/
footer {
	height: 26%;
	width: 100%;
	min-height: 3.9375rem;
}

.j-progress {
	position: relative;
	/*width: 500px;*/
	width: 7.8125rem;
	height: 0.125rem;
	background: #CDDC39;
	border-radius: 0.0625rem;
	margin: 0.4rem auto 0.6rem;
}

#j-progress-main {
	height: 100%;
	width: 0;
	background: #FF5722;
	border-radius: 0.0625rem;
}

#j-progress-btn {
	position: absolute;
	left: 0;
	width: 0.6rem;
	height: 0.3rem;
	top: -0.09rem;
	background-color: #fff;
	border-radius: 0.125rem;
	margin-left: -0.25rem;
	background-color: lightblue;
}

.j-actions {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0 0.625rem;
	/*filter: blur(40px);*/
}


/*.j-bg {
	width: 200px;
	height: 200px;
	margin: 0 auto;
}*/

/*.j-img img {
	width: 200px;
	height: 200px;
	margin: 0 auto;
}*/

/*#timing {
	display: inline-block;
	position: absolute;
	text-align: center;
	padding-left: 40px;
}*/

#id-h1 {
	/*position: absolute;*/
	padding-bottom: 5px;
	display: inline;
	width: 200px;
}

.j-title-group {
	position: relative;
}

.btns {
	border: 3px orange solid;
	/*float: right;*/
	position: absolute;
	top: 7px;
    left: 400px;
}




.icon-channel:before {
    content: "\e653";
    font-size: 1.1rem;
}

.icon-bofang:before {
    content: "\e623";
    font-size: 1.5rem;
    cursor: pointer;
}

.icon-zanting:before {
    content: "\e623";
    font-size: 1.5rem;
    cursor: pointer;
}

.icon-shangyishou:before {
    content: "\e644";
    font-size: 1rem;
}

.icon-xiayishou:before {
    content: "\e603";
    font-size: 1rem;
}


.icon-suiji:before {
    content: "\e60a";
    font-size: 1rem;
}

.icon-danquxunhuan:before {
    content: "\e624";
    font-size: 1.25rem;
}

.rotate {
	animation: recordRotate 30s linear 1s infinite;
}

@keyframes recordRotate {
	to {
		transform: rotate(360deg);
	}
}